<form method="post" action="{{ path('user_pubdelete', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous de vouloir supprimer ce compte ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
	<button class="btn btn-secondary" style="margin-left:2rem">Supprimer mon compte</button>
</form>
