{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<main class="main_home">    
    <div class="section-hero">
        <img src="{{ asset('build/images/logo.jpg') }}" alt="externatic" style="width: 100%;">
    </div>    
    <div class="hero-text">
        Vous cherchez un expert dans l'IT ? </br>
        Faites appel au cabinet de recrutement</br>
        spécialisé dans l'informatique.
    </div>

    <div class="container mt-4 intro_text">
        <div class="container-text-center mt-5">
            <div class="text mt-4">
                <p class="mt-4"><a>Externatic</a>, plus qu'un cabinet de recrutement informatique. Nos offres d'emploi <a>100% client final</a></p>
            </div>
            <div class="text2">
                La réussite de notre cabinet de recrutement informatique ?
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="col fixe">
                        <div class="col-header"><i class="bi bi-arrow-right-circle"></i> Notre proximité</div>
                        <p class="col-text mt-4">L'expérience professionnelle est une chose. L'expérience de vie en est une autre. Alors nos consultants prennent le temps de faire connaissance avec chaque personne, pour comprendre le contexte, le parcours, les envies et les projets.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col fixe">
                        <div class="col-header"><i class="bi bi-arrow-right-circle"></i> Notre performance</div>
                        <p class="col-text  mt-4">Notre réseau est une force et nous y travaillons sans relâche. Notre expérience nous permet d'identifier les vrais besoins d'une entreprise et de ceux qui la rejoignent.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col fixe">
                        <div class="col-header"><i class="bi bi-arrow-right-circle"></i> Notre durabilité</div>
                        <p class="col-text  mt-4">Notre challenge est de trouver l'équipe qui fonctionnera ensemble de manière professionnelle et personnelle, pour aller jusqu'au bout d'un projet commun. Notre responsabilité vis-à-vis des impacts de nos décisions et nos actions sur le long-terme correspondent également à notre politique RSE.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4 swiper_class">
        <div id="carouselExampleDark" class="carousel container carousel-dark slide mt-2 pb-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="swiper mySwiper d-flex">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide card1">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="bi bi-file-earmark-slides"></i> Qui sommes-nous ?</h5>
                                        <p class="card-text card-text-align">
                                            Nos valeurs humaines et professionnelles : Bienveillance, Professionnalisme et Durabilité. 
                                            Travaillez avec un cabinet ancré dans l'IT et l'écosystème local !
                                        </p>
                                        <a href="#" class="card-link card-link-align">En voir plus</a>
                                    </div>
                                </div>
                                <div class="swiper-slide card1">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="bi bi-person-square"></i> Candidats</h5>
                                        <p class="card-text card-text-align">
                                            Les cabinets de recrutement se limitent souvent aux CV : ce n'est pas notre cas ! 
                                            Ce qu'on vous apporte : on vous donne accès à notre réseau.
                                        </p>
                                        <a href="{{ path('app_login') }}" class="card-link card-link-align">Se connecter</a>
                                    </div>
                                </div>
                                <div class="swiper-slide card1">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="bi bi-person-vcard"></i> Offres d'emplois</h5>
                                        <p class="card-text card-text-align">
                                            Nos offres d’emploi 100% client final ! 
                                            Venez découvrir toutes nos offres d'emploi informatiques.
                                        </p>
                                        <a href="{{ path('offer_public_list') }}" class="card-link card-link-align">Voir toutes les offres</a>
                                    </div>
                                </div>
                                {% if is_granted('ROLE_USER') %}
                                <div class="swiper-slide card1">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="bi bi-envelope"></i> Messagerie</h5>
                                        <p class="card-text card-text-align">
                                            Externatic vous propose un système de messagerie permettant de 
                                            communiquer directement avec votre interlocuteur
                                        </p>
                                        <a href="{{ path("messages_index") }}" class="card-link card-link-align">En voir plus</a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            <script>
                var swiper = new Swiper(".mySwiper", {
                    slidesPerView: 3,
                    centeredSlides: true,
                    loop: true,
                    spaceBetween: 30,
                    grabCursor: true,
                    pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                    },
                    autoplay: {
                    delay: 4000, 
                    disableOnInteraction: false, 
                    },
                });
            </script>
        </div>
</main>    
{% endblock %}
