{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="container-image mt-4">
            <img src="{{ asset('build/images/logo.jpg') }}" alt="Vous cherchez un expert dans l'IT ? Faites appel au cabinet de recrutement spécialisé dans l'informatique.">
        </div>

        <div class="container-text-center mt-5">
            <div class="text">
                <p><a>Externatic</a>, plus qu'un cabinet de recrutement informatique. Nos offres d'emploi <a>100% client final</a></p>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
                <div class="col fixe" style="width: 18rem;">
                <div class="col-header">Notre proximité</div>
                    <p class="col-text mt-4">L'expérience professionnelle est une chose. L'expérience de vie en est une autre. Alors nos consultants prennent le temps de faire connaissance avec chaque personne, pour comprendre le contexte, le parcours, les envies et les projets.</p>
                </div>
                <div class="col fixe" style="width: 18rem;">
                <div class="col-header">Notre performance</div>
                    <p class="col-text  mt-4">Notre réseau est une force et nous y travaillons sans relâche. Notre expérience nous permet d'identifier les vrais besoins d'une entreprise et de ceux qui la rejoignent.</p>
                </div>
                <div class="col fixe" style="width: 18rem;">
                <div class="col-header">Notre durabilité</div>
                    <p class="col-text  mt-4">Notre challenge est de trouver l'équipe qui fonctionnera ensemble de manière professionnelle et personnelle, pour aller jusqu'au bout d'un projet commun. Notre responsabilité vis-à-vis des impacts de nos décisions et nos actions sur le long-terme correspondent également à notre politique RSE.</p>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div id="carouselExampleDark" class="carousel container carousel-dark slide mt-2 pb-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="swiper mySwiper d-flex">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="card card1" style="width: 18rem;">
                                            <div class="card-body">
                                                <h5 class="card-title">Qui sommes-nous ?</h5>
                                                <p class="card-text">Nos valeurs humaines et professionnellesBienveillance, Professionnalisme, DurabilitéUn cabinet ancré dans l'IT et l'écosystème local</p>
                                                <a href="#" class="card-link">En voir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                    <div class="card card1" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Candidats</h5>
                                            <p class="card-text">Les cabinets de recrutement se limitent souvent aux CV.Pas nous. Ce qu'on vous apporte : On vous donne accès à notre réseau</p>
                                            <a href="#" class="card-link">En voir plus</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card card1" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Offres d'emplois</h5>
                                            <p class="card-text">Vos opportunités d'emploi, uniquement chez les clients finaux</p>
                                            <a href="#" class="card-link">En voir plus</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card card1" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Offres d'emplois</h5>
                                            <p class="card-text">Vos opportunités d'emploi, uniquement chez les clients finaux</p>
                                            <a href="#" class="card-link">En voir plus</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card card1" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Offres d'emplois</h5>
                                            <p class="card-text">Vos opportunités d'emploi, uniquement chez les clients finaux</p>
                                            <a href="#" class="card-link">En voir plus</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card card1" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Offres d'emplois</h5>
                                            <p class="card-text">Vos opportunités d'emploi, uniquement chez les clients finaux</p>
                                            <a href="#" class="card-link">En voir plus</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card card1" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Offres d'emplois</h5>
                                            <p class="card-text">Vos opportunités d'emploi, uniquement chez les clients finaux</p>
                                            <a href="#" class="card-link">En voir plus</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card card1" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Offres d'emplois</h5>
                                            <p class="card-text">Vos opportunités d'emploi, uniquement chez les clients finaux</p>
                                            <a href="#" class="card-link">En voir plus</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card card1" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Offres d'emplois</h5>
                                            <p class="card-text">Vos opportunités d'emploi, uniquement chez les clients finaux</p>
                                            <a href="#" class="card-link">En voir plus</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script>
            var swiper = new Swiper(".mySwiper", {
                slidesPerView: 4,
                centeredSlides: true,
                loop: true,
                spaceBetween: 30,
                grabCursor: true,
                pagination: {
                el: ".swiper-pagination",
                clickable: true,
                },
                autoplay: {
                delay: 2000, 
                disableOnInteraction: false, 
                },
            });
        </script>
    </div>    
{% endblock %}
