{% extends 'base.html.twig' %}

{% block title %}Mention Légales
{% endblock %}

{% block body %}
	<div>
		<h1>Mentions légales</h1>
		<div>
			<div>
				<p>
					Ce site est la propriété de :
					<br>
					<strong>EXTERNATIC</strong>
					<br>
					1 Rue Racine
					<br>
					44000 NANTES
				</p>

				<p>SIREN : 800 426 629</p>
				<p>
					<br>
					<strong>Responsable de la rédaction :</strong>
					Franck Gascard
					<br>
				</p>

				<p>
					<strong>Conception et réalisation du site</strong>
					<br>
					<a href="https://www.wildcodeschool.com" target="_blank">Wild Code School</a>
					<br>
					Web & E-Commerce
					<br>
					7 Boulevard Ampère - 44470 Carquefou
				</p>

				<p>
					<br>
					<strong>Hébergement:
					</strong>
					<br>
					OVH SAS
					<br>
					2 rue Kellermann - 59100 Roubaix -France
				</p>
			</div>
		</div>
	</div>
{% endblock %}
