{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container-sm form-container shadow">    
    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-lg btn-primary submit-form" style="margin-top:1rem">Réinitialiser mon mot de passe</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
