{% extends 'base.html.twig' %}

{% set titre = "Administrateur des systèmes et réseaux temps réel H/F" %}
{% set adresse = "44000 Nantes" %}
{% set salaire = "35000 à 41000€ par an" %}

{% block title %}Offres
{% endblock %}

{% block body %}
	<div>
		<h1 class="text-primary">
			Voici nos offres:
		</h1>
	</div>

	<div class="container mt-4">
		<div class="row">
			{% for offer in offers %}
				<div class="col-4">
					<div class="card border-secondary mb-3" style="max-width: 18rem;">
						<div class="card-header">{{ offer.name }}</div>

						<div class="card-body text-secondary">
							<h6 class="card-title">
								<i class="bi bi-geo-alt"></i>
								{{ offer.assignment }}
							</h6>
							<p class="card-text">
								<i class="bi bi-currency-exchange"></i>
								{{ offer.salary }}
							</p>
							<a href="http://127.0.0.1" class="btn btn-primary">Visualiser l'offre</a>
						</div>

					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
