{% extends 'base.html.twig' %}

{% block title %}Félicitations
{% endblock %}

{% block body %}
<main class="main_home">    
	<div class="confirm-offer">
		<img class="img-offer"src="{{ asset('build/images/success-805552_1920.jpg') }}" alt="banniere offre" style="width: 100%; height:34rem;">
		<div class="confirm-text-offer">
			<div>
				Félicitations, votre candidature a</br>
				bien été prise en compte
			</div>
		</div>
	</div>
  	<p class="text-center" style="margin-top:12rem">	
		<a href="{{ path('process_list') }}">Accéder à mes process en cours</a>
	</p>
{% endblock %}
