<footer class="footer bg-body-tertiary footer-bloc border-top mt-4">
  <div class="footer-container">
    <div class="d-flex justify-content-sm-between align-items-center footer_div">
      <div class="col footer-col">
          <p>Nous contacter :</br>Tél. +33 (0)2 85 52 26 33</br>Mail : contact@externatic.fr
          </br>Adresse : 1 rue Racine 44000 NANTES France</p>
      </div>
      <div class="col justify-content-center footer-center footer-col">
          <a href="https://fr.linkedin.com/company/externatic" class="footer-icon"><i class="bi bi-linkedin"></i></a>
          <a href="https://twitter.com/Externatic" class="footer-icon"><i class="bi bi-twitter"></i></a> 
          <a href="https://www.instagram.com/externatic/" class="footer-icon"><i class="bi bi-instagram"></i></a></br>
          </br>
          <p>Externatic © 2023 - Tous droits réservés</p>
      </div>
      <div class="col justify-content-center footer-center footer-col">
          <a class="footer-link" href="/static/ml#">Mentions légales</a></br>
          <a class="footer-link" href="/static/cgu#">Politique de confidentialité</a></br>
          <a class="footer-link" href="/static/cookies#">Politique de cookies</a>
      </div>
    </div>
  </div>
</footer>