<div class="container footer">
  <div class="row align-items-end">
    <div class="col">
        <p>Nous contacter :</br>Tél. +33 (0)2 85 52 26 33</br>Mail : contact@externatic.fr</br>Adresse : 1 rue Racine – 44000 NANTES – France</p>
    </div>
    <div class="col">
        <p>Externatic © 2023 - Tous droits réservés</p>
    </div>
    <div class="col">
        <a class="navbar-brand externatic-brand" href="#">Mentions légales</a></br>
        <a class="navbar-brand externatic-brand" href="#">Politique de confidentialité</a></br>
        <a class="navbar-brand externatic-brand" href="#">Politique de cookies</a>
    </div>
  </div>
</div>
