<form method="post" action="{{ path('criteria_delete', {'id': criteria.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de voiloir supprimer ces critères ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ criteria.id) }}">
    <button class="btn"><i class="bi bi-trash3"></i></button>
</form>
