{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-lg btn-primary submit-form btn-criteria" style="margin-top:1rem">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
