{% extends 'base.html.twig' %}

{% block title %}Edit Criteria{% endblock %}

{% block body %}
    <h1>Modifier mes critères</h1>

    {{ include('criteria/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('criteria_index') }}">Retour à la liste des critères</a>

    {{ include('criteria/_delete_form.html.twig') }}
{% endblock %}
