{% extends 'base.html.twig' %}

{% block title %}Edit Criteria{% endblock %}

{% block body %}
    <div class="container-sm form-container shadow formcv">
        <h1 class="h3 mb-3 font-weight-normal titre-form-cv">Modifier mes critères</h1>
        <div class="form-container form-new">
            {{ include('criteria/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        </div>
        <a href="{{ path('criteria_index', {'id': user.id}) }}" class="btn btn-link" style="margin-top:1rem" >Retour à la liste des critères</a>
    </div>
{% endblock %}
