{% extends 'base.html.twig' %}

{% block title %}New Criteria{% endblock %}

{% block body %}
<div class="container-sm form-container-wide shadow">    
    <h1 class="h1-form">Créer des critères de recherche</h1>
    <div class="form-container form-new">
        {{ include('criteria/_form.html.twig') }}
    </div>
    <a href="{{ path('criteria_index') }}">Retour à la liste des critères</a>
</div>
{% endblock %}
