h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font-family;
}

header {
    margin-bottom: 4rem;
}
main {
    margin-top: 6rem;
    margin-bottom: 4rem;
}
h1 {
    color:$primary !important;
    padding-bottom: 4rem;
}
.container {
    margin-top: 8rem;
    margin-bottom: 8rem;
}
