.form-container {
    width: 24rem !important;
    background-color: $cards-background;
    padding:4rem;
    border-radius: 0.5rem;
}
.form-container-wide {
    background-color: $cards-background;
    padding:4rem;
    border-radius: 0.5rem;
}
.form-style {
    padding-left: 1rem;
    padding-right: 1rem;
}
.titre-form1 {
    color:$secondary !important;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2rem!important;
}
.titre-form {
    color:$secondary !important;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem!important;
}

.form-text>a {
    color:$secondary !important;
}

#registration_form_firstname,#registration_form_lastname,#registration_form_email,
#registration_form_plainPassword,#registration_form_phone,#registration_form_address,
#registration_form_zipcode,#registration_form_city
{
    border-radius: 0.5rem;
    border:none;
    box-shadow:0.5em;
    height: 2.5rem;
    width: 17rem;
    margin: 0.5rem;
}
#registration_form_contactPreference,
.form-container-wide select 
{
    border-radius: 0.5rem;
    border:none;
    box-shadow:0.5em;
    height: 1.5rem;
    align-items:end;
    width: 10rem;
    font-size: 0.9rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
}
.btn-lg, .btn-group-lg > .btn{
    font-size: 1rem !important;
}
label.required {
    font-size: 0.8rem !important;
}
label{
    font-size: 0.8rem !important;
}
.col-form{
    padding: 0.2rem;
}
.agreeTerms{
    color: $secondary;
    margin-top: 2rem;
}
.form-container-wide input[type="text"],
.form-container-wide input[type="email"],
.form-container-wide input[type="password"],
.form-container-wide textarea
{ 
    border-radius: 0.5rem;
    border:none;
    box-shadow:0.5em;
    height: 2.5rem;
    width: 17rem;
    margin: 0.5rem;
}
.form-container-wide input[type="date"] {
    border-radius: 0.5rem;
    border:none;
    box-shadow:0.5em;
    height: 2.5rem;
    width: 10rem;
    margin: 0.5rem;
    text-align: center;
}
.h5_form {
    color:$secondary !important;
    margin-top: 1rem !important;
}
.titre-form-cv {
    color:$secondary !important;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3rem!important;
    padding:0;
}
#curriculum_vitae>.vich-file>a {
    color:$secondary !important;
    margin-top: 1rem !important;
}
.form-cv{
    padding:1rem;
}
input#curriculum_vitae_cvfile_file {
    font-size: 0.5rem !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.formcv {
    width: 30rem !important;
    background-color: $cards-background;
    padding:4rem;
    border-radius: 0.5rem;
    text-align: center;
    line-height: 3rem;
    align-items: center;
}
.btn-cv {
    width: 8rem;
}
td, th{
    font-size: 0.9rem !important;
}
td.actions{
    color: $secondary !important;
    display: flex;
    align-items: center;
}
#criteria input[type="text"],
#criteria input[type="select"],
select#criteria_contract,
select#criteria_remote
{
    border-radius: 0.5rem;
    border:none;
    box-shadow:0.5em;
    text-align: center;
    width:12rem;
    height:2rem;
    font-size: 0.8rem;
}
#criteria form {
    text-align: center;
}
.form-new-criteria {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}