.form-container {
    width: 24rem !important;
    background-color: $cards-background;
    padding:4rem;
    border-radius: 0.5rem;
}

.form-style {
    padding-left: 1rem;
    padding-right: 1rem;
}

.titre-form {
    color:$secondary !important;
    margin-bottom: 2rem;
}

.form-text>a {
    color:$secondary !important;
}

#registration_form_firstname {
    border-radius: 0.5rem;
    border:none;
    box-shadow:0.5em;
    height: 2.5rem;
    width: 18rem;
}
#registration_form_lastname {
    border-radius: 0.5rem;
    border:none;
    box-shadow:0.5em;
    height: 2.5rem;
    width: 18rem;
}
#registration_form_email {
    border-radius: 0.5rem;
    border:none;
    box-shadow:0.5em;
    height: 2.5rem;
    width: 18rem;
}
#registration_form_plainPassword {
    border-radius: 0.5rem;
    border:none;
    box-shadow:0.5em;
    height: 2.5rem;
    width: 18rem;
}
#registration_form_contactPreference {
    border-radius: 0.5rem;
    border:none;
    box-shadow:0.5em;
    height: 2rem;
    align-items:end;
    width: 10rem;
}
.btn-lg, .btn-group-lg > .btn{
    margin-left: 1rem;
    font-size: 1rem !important;
}
label.required {
    font-size: 0.8rem !important;
}