{% extends 'base.html.twig' %}

{% block title %}Plus d'informations
{% endblock %}

{% block body %}
<main class="main_home">
	<div class="container-sm form-container shadow offer-details">
		<h1>En savoir plus sur l'entreprise</h1>
		<h2>
			{{ company.name }}
		</h2>
		{{ company.details }}
		<div>
			<a href="{{ path('offer_public_list') }}" class="btn btn-primary" style="margin-top:4rem">Retour aux offres</a>
		</div>
	</div>
</main>
{% endblock %}
