{% extends 'base.html.twig' %}

{% block title %}Plus d'informations
{% endblock %}

{% block body %}
	<div class="container-sm form-container-wide shadow">
		<h1>A propros</h1>
		<h2>
			{{ company.name }}
		</h2>
		{{ company.details }}
		<div>
			<a href="{{ path('offer_public_list') }}" class="btn btn-primary" style="margin-top:2rem">Retour aux offres</a>
		</div>
	</div>
{% endblock %}
