{% extends 'base.html.twig' %}

{% block title %}New Company
{% endblock %}

{% block body %}
<main class="main_home">
    <div class="container-sm form-container shadow formcv">	
		<h1 class="h1-form">Créer une nouvelle entreprise</h1>
		{{ include('company/_form.html.twig') }}
		<p class="text-center">
			<a href="{{ path('company_index') }}">Retour à la liste des entreprises</a>
		</p>
    </div>
</main>
{% endblock %}
