{% extends 'base.html.twig' %}

{% block title %}Dashboard candidat{% endblock %}

{% block body %}
<div class="container text-center"> 
    <h1>Bienvenue Anna Chronique !</h1>
    <div class="row">
        <div class="col dashboard-col">
            <div class="card shadow dashboard-card">
                <div class="card-body">
                    <a href="#" class="dashboard-link">Mes coordonnées</a>
                </div>
            </div>
        </div>
        <div class="col dashboard-col">
            <div class="card shadow dashboard-card">
                <div class="card-body">
                    <a href="#" class="dashboard-link">Mon CV</a>
                </div>
            </div>
        </div>
        <div class="col dashboard-col">
            <div class="card shadow dashboard-card">
                <div class="card-body">
                    <a href="#" class="dashboard-link">Mes offres et alertes</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col dashboard-col">
            <div class="card shadow dashboard-card">
                <div class="card-body">
                    <a href="#" class="dashboard-link">Mes critères de recherche</a>
                </div>
            </div>
        </div>
        <div class="col dashboard-col">
            <div class="card shadow dashboard-card">
                <div class="card-body">
                    <a href="#" class="dashboard-link">Mes processus en cours</a>
                </div>
            </div>
        </div>
        <div class="col dashboard-col">
            <div class="card shadow dashboard-card">
                <div class="card-body">
                    <i class="bi bi-box-arrow-right"></i>
                    <a href="#" class="dashboard-link">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}