<form method="post" action="{{ path('process_delete', {'id': process.id}) }}" onsubmit="Etes-vous sûr(e) de vouloir supprimer ce process ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ process.id) }}">
	<button class="btn btn-secondary mt-4" style="margin-top:1rem"><i class="bi bi-trash"></i></button>
</form>
