{% extends 'base.html.twig' %}

{% block title %}Edit user
{% endblock %}

{% block body %}
<main class="main_home">
	<div class="container-sm form-container-wide shadow">
		<h1>Editer un utilisateur {{ include('user/_delete_form.html.twig') }}</h1>
		{{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
	</div>
	<p class="text-center mt-4">
		<a class="btn btn-link" href="{{ path('user_index') }}">Retour à la liste des utilisateurs</a>
	</p>
</main>
{% endblock %}
